In [50]:
import pandas as pd
import re

df = pd.read_csv('./house.csv')

In [ ]:
df.columns

In [ ]:
filter1 = df.loc[(df['Rooms'] == 3) & (df['Type'] == 'h') & (df['Price'] <= 500000)]
filter1

In [ ]:
filter2 = df.loc[(df['Address'].str.contains('Turner st|Turner Rd', flags=re.I))]
filter2

In [ ]:
filter3 =df.loc[(df['Address'].str.contains('^59', flags=re.I)) & (df['Price'] <= 500000)]
filter3

In [ ]:
filter4 = df.loc[(df['SellerG'] == 'Ronald')]
df.loc[(df['SellerG'] == 'Ronald'), ['Method', 'Type']] = 'Pending'
filter4

In [62]:
df[['SellerG', 'Rooms', 'Price']].groupby(['SellerG']).mean().sort_values('Rooms', ascending=False).head(10)

              Rooms      Price
SellerG
Justin     7.142857   933000.0
Gr8        6.000000   650000.0
Joe        6.000000  1800000.0
Airport    5.000000  1035000.0
Sterling   5.000000        NaN
T          5.000000  1825000.0
SN         5.000000   880000.0
Sandhurst  5.000000   850000.0
Platinum   5.000000        NaN
Gross      5.000000        NaN